.logo-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow:visible;
    margin-top: -6px;
    margin-left:20px;
    position: fixed;
}
.topnav {
    height:80px;
    width:100%;
    position:fixed;
    z-index:1;
    top:0;
    Left:0;
    background-color:aquamarine;
    overflow-x:hidden;
    padding-top:20px;
}
.topnav a {
    padding: 6px 8px 6px 200px;
    text-decoration:wavy;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:maroon;
    display:inline-flex;
    text-align: center;
}
.topnav a:hover{
    color:rgb(177, 11, 11);
    text-decoration:underline;
    font-size: 30px
}
.main{
    margin-top:200px;
    padding:0px 10px;
    background-color:#fad4c0;
}